.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.youtube-player-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}

.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  /* The image used */
  /* Full height */
  position: absolute;
  opacity: 0.1;
  display: block;

  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1.75) blur(5px);
  backdrop-filter: blur(5px);
}

.syncbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.syncbutton:before,
.syncbutton:after {
  content: "";
  display: block;
  height: 0.09em;
  min-width: 30vw;
}

.syncbutton:before {
  background: linear-gradient(
    to right,
    rgba(240, 240, 240, 0),
    rgb(144, 144, 144, 0.5)
  );
  margin-right: -10px;
}

.syncbutton:after {
  background: linear-gradient(
    to left,
    rgba(240, 240, 240, 0),
    rgb(144, 144, 144, 0.5)
  );
  margin-left: -10px;
}

.number-input-no-arrows:-webkit-inner-spin-button,
.number-input-no-arrows:-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.number-input-no-arrows {
  -moz-appearance: textfield;
}
.flexHorizontal {
  display: flex;
  align-items: center;
}

.flexVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.floatingControls {
  z-index: 1501;
  width: 50%;
  padding: 5px 20px;
  position: absolute;
  top: 20;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
